body {
    font-family: sans-serif;
    background-color: #ddd;
}

.continer {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.continer .frist {
    text-align: center;
    position: relative;
    padding-bottom: 4px;
}

.continer .frist::before {
    content: "";
    position: absolute;
    background-color: black;
    width: 200px;
    height: 3px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0px;
}

.continer .frist::after {
    content: "";
    position: absolute;
    background-color: white;
    border: solid 2px black;
    width: 20px;
    height: 20px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -9px;
    border-radius: 50%;
}

.continer .second {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.continer .second button {
    margin: 10px 10px;
    background-color: black;
    color: white;
    border-radius: 4px;
    padding: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}

.continer .third {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.continer .box {
    background-color: #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 10px;
}

.continer .box .image img {
    margin-right: 10px;
    border-radius: 10px;
    width: 200px;
    height: 200px;
}